# CMS One API is a service that provides unified API for multiple CMS platforms. You can get your API key and URL from the CMS One dashboard.
# URL: https://cmsone.cosmokode.com/
CMS_ONE_API_KEY=your_cmsone_api_key
CMS_ONE_API_URL=your_cmsone_api_url

NEXT_APP_PUBLIC_URL=your_public_url

# NodeMailer SMTP Configurations.
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password