@import "tailwindcss";

@font-face {
    font-family: 'BrittanySignature';
    src: url('../fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-black-base: #07070e;
    --color-brand: #0ff;
    --font-brand: 'BrittanySignature', cursive;
}

.active {
    color: var(--color-brand);
}

.card-bg-linear {
    background: rgb(32,32,32);
    background: -moz-linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    background: -webkit-linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#07070e",GradientType=1);
}

.card-bg-radial {
    background: rgb(32,32,32);
    background: -moz-radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    background: -webkit-radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(7,7,14,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#07070e",GradientType=1);
}

.experience {
    h3 {
        @apply font-semibold text-lg text-gray-600;
    }
    p {
        @apply dark:text-white text-xl font-bold;

        i {
            @apply text-xl;
        }
        span {
            @apply text-gray-500 text-lg font-normal;
        }
    }
}

.signature {
    font-family: var(--font-brand);
}