@import "tailwindcss";

@font-face {
    font-family: 'BrittanySignature';
    src: url('../fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-black-base: #07070e;
    --color-brand: #0ff;
    --font-brand: 'BrittanySignature', cursive;
}

@layer components {
    /* Light mode */
    .card-bg-linear {
        background: linear-gradient(90deg, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 240, 1) 92%);
    }

    .card-bg-radial {
        background: radial-gradient(circle, rgba(250, 250, 250, 1) 0%, rgba(230, 230, 240, 1) 92%);
    }

    .brand-text {
        color: #00f;
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
        .card-bg-linear {
            background: linear-gradient(90deg, rgba(32, 32, 32, 1) 0%, rgba(7, 7, 14, 1) 92%);
        }

        .card-bg-radial {
            background: radial-gradient(circle, rgba(32, 32, 32, 1) 0%, rgba(7, 7, 14, 1) 92%);
        }

        .brand-text {
            color: #0ff;
        }
    }
}

.experience {
    h3 {
        @apply font-semibold text-lg text-gray-600;
    }
    p {
        @apply dark:text-white text-xl font-bold;

        i {
            @apply text-xl;
        }
        span {
            @apply text-gray-500 text-lg font-normal;
        }
    }
}

.signature {
    font-family: var(--font-brand);
}

.article-footer-light {
    background-image: url('../images/article-footer-light.png');
}

.article-footer-dark {
    background-image: url('../images/article-footer-dark.png');
}