@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --link-active: #00FFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Navbar */
.brand-name {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.active {
  color: var(--link-active);
}

.home-page {
  background: url("../images/intro-banner.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  height: 100dvh;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.intro-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-name {
  text-transform: uppercase;
  line-height: 0.5;
}

.last-name {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 83px;
  margin: 12px 0 0 0;
}

.job-title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 6.2px;
  margin: 0 0 20px 0;
}

.intro-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding: 0 10px;
}

.intro-buttons a {
  font-size: 18px;
  border-radius: 18px;
  border: 1px solid #fff;
  padding: 5px 33px;
}

.social-media-section {
  position: absolute;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section-intro-content {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-page {
  background: url("../images/gm-1.jpeg"), #000;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

@layer utilities {
  .color-tertiary {
    text-decoration-color: theme('colors.color-tertiary');
  }
}

.experience-block:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  background-color: #323232;
  width: 1px;
  left: 15px;
  bottom: 5px;
}

.experience-block:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  background-color: #323232;
  width: calc(100% - 15px);
  left: 15px;
  bottom: 3px;
}


.detailed-block:nth-child(even) {
  flex-direction: row-reverse;
}

.detailed-block:nth-child(even) .content-container {
  margin-right: 0.75rem;
  margin-left: 0;
}

.projects-banner {
  background: url("../images/intro-banner.jpg") no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
  height: 300px;
  width: 100%;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.authors:first-child {
  left:0 !important;
}


@media screen and (max-width: 768px) {
  .about-page {
    background: none;
  }
  .animated-cursor {
    display: none;
  }
}